.timeChartMainDiv {
  display: flex;
}

@media (max-width: 578px) {
  .timeChartMainDiv{
    flex-direction: column;
    height: auto;
    width: 300px;
  }
  .linechartDiv svg{
    height: 200px !important;
    width: 308px !important;
  }
}