.container {
    display: flex;
    height: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 65px;

    .qrHeading {
        color: white;
        background-color: #275BC4;
        padding: 15px;
        border-radius: 15px;
    }
}

@media (max-width: 415px) {
    .qrHeading {
        height: auto;
        width: 200px;
    }

    .qr {
        height: 150px;
        width: 150px;
    }
}