.header {
  font-family: 'Times New Roman', Times, serif;
  font-size: xxx-large;
  background-color: #353C48;
  color: white;
  padding: 0 10px;
}
.mainDiv{
  background-color: #F1F2F7;
}
.Divider {
  width: 98%;
  margin: 20px 0;
  border-top: 1px solid grey;
}

@media (max-width: 600px) {
  .mainDiv {
    margin: 0.5rem;
  }
}

.qrScanner{
  background-color: black;
}