.header {
  font-family: system-ui;
  font-size: xxx-large;
  background-color: darkred;
  color: white;
  padding: 0 10px;
}
.mainDiv{
  background-color: #F1F2F7;
}
.Divider {
  width: 98%;
  margin: 20px 0;
  border-top: 1px solid grey;
}

@media (max-width: 767px) {
  .mainDiv {
    margin: 0.5rem;
  }
  .header{
    font-size: 27px;
    text-align: center;
  }
}

.qrScanner{
  background-color: black;
}