.header {
  font-family: 'Times New Roman', Times, serif;
  font-size: xxx-large
}
.mainDiv{
  margin:1rem;
}
.Divider {
  width: 98%;
  margin: 20px 0;
  border-top: 1px solid grey;
}

@media (max-width: 600px) {
  .mainDiv {
    margin: 0.5rem;
  }
}