.ontimeLatePunchDiv {
  display: table;
}

.onTimeMainDiv {
  margin-bottom: 10px;
}

.headingDiv {
  color: #02a4ef;
}

.suHeadingOnTime {
  color: green;
  display: flex;
  justify-content: center;
}

.suHeadinglate {
  color: goldenrod;
  display: flex;
  justify-content: center;
}

.contentMainDiv {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.circularDiv {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: bold;
}
