.container {
  padding: 0px 11px;
  display: grid;
  row-gap: 20px;
  background-color: white;
  left: 9%;
  padding-top: 20px;
  padding-bottom: 80px;
}

.info {
  flex: 1;
}

.name {
  margin-bottom: 5px;
  display: flex;
  font-size: 30px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.designation {
  margin-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #777;
}
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Divider {
  width: 100%;
  margin: 20px 0;
  border-top: 1px solid grey;
}
.timeInfoHeader {
  color: #5c5a5a;
}
.timeInfoHeaderMain {
    margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeInfoSubMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 50px;
}
.timeInfoHeader{
  font-size: 32px;
}

.timeInfoSub {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
}

.timeInfoSubHead {
    font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.timeInfoSubInterval {
  font-size: 14px;
  font-weight: bold;
  color: #777;
}
