.container {
    /* display: flex; */
    flex-direction: column;
    /* align-items: center; */
}

.mainDiv {
    width: 1192px;
    padding: 0 15px;
    /* font-family: 'Plus Jakarta Sans'; */
    /* margin-top: 10px; */
}

.maindivHeader {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    margin-top: 10px;
}

.maindivHeadersub {
    display: flex;
    gap: 10px;
    align-items: center;
}

.box {
    width: 270px;
    height: 35px;
    display: flex;
    align-items: baseline;
    padding: 3px;
    border-radius: 3px;
    gap: 10px;
}

.Divider {
    right: 7px;
    border: 1px solid black;
    position: relative;
}

.navBar {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    margin-top: 20px;
    flex-wrap: wrap;
    overflow: hidden;
}

.profileInfo {
    display: flex;
}

.bellIcon {
    color: white;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    position: relative;
    border: none !important;
    border-radius: 50px;
    height: 48px;
    width: 48px;
}

.bellIcon svg {
    font-size: 1.5rem;
}

.profileIcon {
    display: none;
}

.badge {
    position: absolute !important;
    left: 42px;
    bottom: 39px;
}

.badge span {
    background-color: #48505F;
}

.profileInfoWrapper {
    margin-right: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dailyAttendanceBreakDown {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.countDownMainDiv {
    color: white;
    margin-bottom: 15px;
}

.roundButton {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    font-size: 20px;
    color: white;
    background-color: #02A4EF !important;
    border: none !important;
}

.subDailyAttendanceBreakDownSubDiv {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.dailyAttendanceContainer {
    margin-top: 20px;
}

.addTimeOffButton {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 30px 0;
    align-items: baseline;
}

.modalBody {
    /* background-color: #f1f2f7; */
}

.modalHeader {
    background-color: #353C48;
}

.modalHeader button {
    background-color: aliceblue;
}

.modalTitle {
    color: white !important;
}

.buttonMainDiv {
    display: flex;
    justify-content: space-between;
}

.headerMainDiv {
    display: flex;
    align-items: flex-start;
}

.headingCountDown {
    display: flex;
    margin-left: 45px;
    color: #D7FCFF;
    margin-top: revert;
    text-align: center;
}

@media (max-width: 1554px) {
    .profileInfoWrapper {
        position: absolute;
        right: 7px;
    }
    .mainDiv {
        width: 72%;
    }
}

@media (max-width: 1350px) {
    .profileInfoWrapper {
        display: none;
    }
    .profileIcon {
        display: flex;
        cursor: pointer;
        align-items: center;
    }
    .profileIcon svg {
        font-size: 54px !important;
    }
    .darkProfileIcon{
        color: white !important;
    }
    .lightProfileIcon{
        color: #02A4EF !important;
    }
    .mainDiv {
        width: 100%;
    }
}

@media (max-width: 960px) {
    .timelineFormatMainDiv {
        position: relative;
        left: 87px;
    }
    .subDailyAttendanceBreakDownSubDiv {
        flex-direction: column;
        align-items: center;
    }
    .statusDiv {
        top: 70px;
        right: 195px;
        position: relative;
        margin-bottom: 40px;
    }
}

@media (max-width: 767px) {
    .maindivHeader {
        flex-direction: column;
        gap: 5px;
    }
    .mainDiv {
        padding: 0;
    }
    .maindivHeadersub {
        width: -webkit-fill-available;
        justify-content: end;
    }
    .box {
        flex-direction: column;
    }
    .addTimeOffButton {
        justify-content: center;
        flex-wrap: wrap;
    }
    .timesheetHeader {
        font-size: 16px;
    }
    .roundButton {
        height: 37px;
        width: 37px;
        display: inline-flex !important;
        justify-content: center !important;
    }
    .bellIcon {
        height: 37px;
        width: 37px;
    }
    .badge {
        top: 10px;
        left: 35px;
    }
    .profileIcon svg {
        font-size: 43px !important;
    }
    .countDownMainDiv {
        margin-bottom: 0;
    }
    .dailyAttendanceBreakDown {
        flex-direction: column;
        align-items: center;
    }
    .timelineFormatMainDiv {
        position: relative;
        left: 0;
    }
    .subDailyAttendanceBreakDownSubDiv {
        flex-direction: row;
        gap: 15px;
    }
    .statusDiv {
        right: 0;
        display: flex;
        justify-content: center;
    }
}

@media (max-width:578px) {
    .subDailyAttendanceBreakDownSubDiv {
        flex-direction: column;
        gap: 15px;
    }
}