.container {
  /* display: flex; */
  flex-direction: column;
  /* align-items: center; */
}

.mainDiv {
  width: 1192px;
  padding: 0 15px;
}

.maindivHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.maindivHeadersub {
  display: flex;
  gap: 10px;
  align-items: center;
}

.box {
  width: 270px;
  height: 35px;
  display: flex;
  align-items: baseline;
  padding: 3px;
  border-radius: 3px;
  gap: 10px;
}

.Divider {
  border: 1px solid black;
}

.navBar {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  margin-top: 20px;
  flex-wrap: wrap;
  overflow: hidden;
}

.profileInfo {
  display: flex;
}

.bellIcon {
  color: white;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  position: relative;
  background-color: #02A4EF !important;
  border: none !important;
  border-radius: 50px;
  height: 48px;
  width: 48px;
}
.bellIcon svg{
  font-size: 1.5rem;
}
.profileIcon{
  display: none;
}

.badge {
  position: absolute !important;
  left: 42px;
  bottom: 39px;
}
.badge span{
  background-color: #48505F;
}

.profileInfoWrapper {
  margin-right: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.roundButton {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  font-size: 20px;
  color: white;
  background-color: #02A4EF !important;
  border: none !important;
}

.dailyAttendanceContainer {
  margin-top: 20px;
}
.addTimeOffButton {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin: 25px 0;
}
.modalBody{
  background-color: #f1f2f7;
}

.modalHeader{
  background-color: #353C48;
}

.modalHeader button{
  background-color: aliceblue;
}

.modalTitle{
  color: white !important;
}

.qrModalHeader{
  background-color: #353C48;
}
.qrModalHeader button{
  background-color: aliceblue;
}
.qrModalTitle{
  color: white !important;
}
.qrCodeBody{
  background-color: #f1f2f7;
}

@media (max-width: 1554px) {

  .profileInfoWrapper{
    display: none;
  }
  .profileIcon{
    display: flex;
    cursor: pointer;
    align-items: center;
  }
  .profileIcon svg{
    color: #02A4EF !important;
    font-size: 54px !important;
  }
  .mainDiv {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .maindivHeader {
    flex-direction: column-reverse;
    gap: 15px;
  }
  .box{
    flex-direction: column;
  }
  .addTimeOffButton {
  justify-content: center;
  flex-wrap: wrap;
  }
}