.mainDiv {
    width: 100%;
  }

  .attendanceTable {
    width: 100%;
    margin-bottom: 20px;
  }
  .attendanceTableTr {
    font-weight: bold;
  }
  .attendanceTable td {
    text-align: center;
    border-right: none;
    border-left: none;
  }
  .icons{
    margin-bottom: 4px;
    margin-right: 3px;
  }
  .pagination {
    display: flex;
    justify-content: flex-end;
  }
  
  .reportButton{
    margin: 10px 0;
    border-radius: 30px;
    color: #2c82e0;
  }
  
  .rightArrow{
    color: #2c82e0;
  }
  
  @media (max-width: 767px) {
    .pagination{
      display: flex !important;
      align-items: center !important;
      margin: 25px 0;
    }
    .tableHead{
      font-size: 16px !important
    }
    .tableBody{
      font-size: 14px !important
    }
    .attendanceTable tr > td {
      min-height: 40px !important;
      min-width: 160px !important;
    }
    .attendanceTable tr > th:first-child {
      position: sticky;
      left: 0px;
    }
    .attendanceTable tr > td:first-child {
      position: sticky ;
      left: 0px;
    }
  
    .attendanceTable tr:nth-child(odd) td {
      background: white;
   }
   
   .attendanceTable tr:nth-child(even) td {
      background: gray.200;
   }
  }