.mainDiv {
    width: 100%;
  }
  
  .attendanceTable {
    width: 100%;
    margin-bottom: 20px;
  }
  .attendanceTableTr {
    font-weight: bold;
  }
  
  .attendanceTable td {
    text-align: center;
    border-right: none;
    border-left: none;
  }
  .icons{
    margin-bottom: 4px;
    margin-right: 3px;
  }
  .pagination {
    display: flex;
    justify-content: flex-end;
  }
  
  .reportButton{
    margin: 10px 0;
    border-radius: 30px;
    color: darkred;
  }
  .reportButton:hover{
    background-color: darkred;
    color: darkred;
  }
  
  .rightArrow{
    color: darkred;
  }
  
  @media (max-width: 767px) {
    .pagination{
      display: flex !important;
      align-items: center !important;
      margin: 25px 0;
    }
    .tableHead{
      font-size: 16px !important
    }
    .tableBody{
      font-size: 14px !important
    }
  }