.mainButton {
    margin-right: 20px;
    font-weight: bold;
}

.popoverContent {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    width: 280px;
    background-color: whitesmoke;
}

.popoverContent .formGroup {
    margin-bottom: 10px;
}

.buttonGroup {
    margin-left: 15px;
}

.primaryButton:hover,
.secondaryButton:hover {
    transform: scale(1.1);
}

.primaryButton {
    background-color: #2c82e0;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.secondaryButton {
    background-color: #e53935;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.headerPopOver {
    justify-content: center;
    align-items: center;
    display: flex;
    /* font-family: 'Plus Jakarta Sans'; */
    font-weight: bold;
    font-size: 26px;
}

.buttonDiv {
    display: flex;
}

.dropdown {
    width: 90%;
    height: 35px;
    margin-bottom: 15px;
    margin-top: 15px;
}