.logoutMainDiv{
    padding: 20px;
}
.logoutIcon{
    font-size: xx-large !important;
}

@media (max-width: 767px) {
    .logoutIcon{
        font-size: 27px !important;
    }
    .logoutMainDiv{
        padding: 7px 8px;
    }
}