.logoutMainDiv {
  padding: 20px;

  @media (max-width: 767px) {
    padding: 7px 8px;
  }
}

.logoutIcon {
  cursor: pointer;
  font-size: x-large !important;

  @media (max-width: 767px) {
    font-size: 25px !important;
  }
}
