@mixin fontStyle() {
    // font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-size: 18px;
    line-height: 18px;
}

.holidayDateSection {
    display: flex;
    width: 270px;
    height: 35px;
    .holidayDateSection {
        display: flex;
        z-index: 9;
    }
    @media (max-width: 999px) {
        margin-left: 0;
    }
    .dateInput {
        @include fontStyle();
        color: white;
        width: 140px;
        height: 35px;
        text-align: center;
        border: none;
        background-color: #213555;
        border-radius: 5px;
        padding: 0 10px;
    }
    .darkDateInput{
        background-color: #213555;
    }
    .lightDateInput{
        color: black;
        background-color: white;
    }
    .to {
        @include fontStyle();
        color: white;
        text-align: center;
        padding: 10px;
        margin: 0 5px;
        border-radius: 5px;
    }
}

@media (max-width: 767px) {
    .holidayDateSection {
        display: flex;
        position: absolute;
        margin: 28px;
        left: -15px;
        .dateInput {
            font-size: 16px;
        }
    }
}