.mainDiv {
  margin-left: 5px;
  margin-bottom: 4px;
}

.dateDiv{
  appearance: none;
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

