.mainDiv {
    background-color: #F1F2F7;

    .header {
        font-family: system-ui;
        font-size: xxx-large;
        background-color: darkred;
        color: white;
        padding: 0 10px;
    }

    .tableHeader {
        margin: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .reportDownload {
            background-color: darkred;
        }

        .reportDownload:hover {
            color: black;
            background-color: darkred;
        }

        .rightHeaderDiv {
            display: flex;
            gap: 10px;
        }
    }

    .datePickReports {
        display: flex;
        align-items: baseline;
    }

    .reportButton{
        margin: 10px 0;
        border-radius: 30px;
        color: darkred;
        border-color: darkred;
      }
    .reportButton:hover{
        background-color: darkred;
        color: white;
        border-color: darkred;
        .leftArrow{
          color: white;
        }
      }
}
.downloadButton {
    background-color: darkred;
}